@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #213547;
  background: #fff;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

input, select, textarea {
  color: #213547;
  background: #f6f7fa;
}

button {
  border-radius: 8px;
  border: 1px solid #21354722;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2563eb;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s, background 0.25s;
}
button:hover {
  border-color: #2563eb88;
  background: #1d4ed8;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
